<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- <context:annotation-config/> -->
    <!-- bean definitions here -->
    <bean id="loginTest" class="login.LoginTest">
        <constructor-arg ref="loginPageObject"/>
        <constructor-arg ref="driverFactory"/>
        <constructor-arg ref="constants"/>
    </bean>

    <bean id="driverFactory" class="factory.DriverFactory">
        <constructor-arg name="browser" value="chrome"/>
        <constructor-arg ref="constants"/>
    </bean>

    <bean id="uiMap" class="uimap.UiMap"></bean>
    <bean id="constants" class="utilities.Constants"/>
    <bean id="loginPageObject" class="pageobjects.LoginPageObject"/>

</beans>